<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zconnect.zutto.zconnect">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ZConnect"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- On start activity in full screen mode -->
        <activity
            android:name=".logoFlash"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Crop Activity -->
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".logIn"
            android:theme="@style/login" />
        <activity
            android:name=".registerNewUser"
            android:theme="@style/login" />
        <activity
            android:name=".setDetails"
            android:theme="@style/login" />
        <activity
            android:name=".home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AllEvents"
            android:label="Events"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OpenEventDetail"
            android:label="Events"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TabStoreRoom"
            android:label="@string/title_activity_tab_store_room"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StoreRoom"
            android:label="@string/title_activity_store_room"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Shop"
            android:label="@string/title_activity_shop"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".ShopSearch" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home" />
        </activity>
        <activity
            android:name=".ShopList"
            android:label="@string/title_activity_shop_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShopDetails"
            android:label="@string/title_activity_shop_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddContact"
            android:label="@string/title_activity_add_contact"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PhonebookDetails"
            android:label="Details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PhonebookHostelWise"
            android:label="@string/title_activity_phonebook_hostel_wise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Phonebook"
            android:label="Infone"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".PhonebookSearch" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home" />
        </activity>
        <activity
            android:name=".PhonebookSearch"
            android:label="Search Results"
            android:launchMode="singleTop"
            android:parentActivityName=".Phonebook">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".AboutUs"
            android:label="@string/title_activity_about_us"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Advertisement"
            android:label="@string/title_activity_advertisement"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddProduct"
            android:label="Add Product"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TabStoreRoom" />
        </activity>
        <activity
            android:name=".MyProducts"
            android:label="My Products"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddEvent"
            android:label="Add Events"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IndividualCategory"
            android:label="@string/title_activity_each_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShopSearch"
            android:label="Search Results"
            android:launchMode="singleTop"
            android:parentActivityName=".Shop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
    </application>

</manifest>